*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top right,rgb(162, 236, 243),white,rgb(226, 243, 153));
}
h2{
    text-align: center;
    margin: 3rem;
    padding: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}
div{
    justify-content: center;
    align-self: center;
}
table{
    text-align: center;
    font-size: 1.75rem;
}
table,tr,td{
    border-style: solid;
    border-width: 3px;
    border-collapse: collapse;
}
td{
    padding: 10px;
    font-family:system-ui;
    font-size: 1.75rem;
}
thead{
    background-color: rgb(234, 194, 93);
}
.Rise{
    background-color: rgb(135, 228, 135);
}
.Rise:hover{
    background-color:rgb(186, 243, 99)
}
.Fall{
    background-color: rgb(238, 114, 114);
}
.Fall:hover{
    background-color: rgb(250, 102, 82);
}